.section-heading {
  background: #f7f5f6 none repeat scroll 0 0;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 30px;
}

#list-tab {
  margin: 0 auto;
  max-width: 200px;
}

.tab-content>.active {
  display: flex!important;
}

.main-portfolio h5 {
  font-size: 16px;
}

.main-portfolio .portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}